<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
</head>
<body>
	<script type="text/javascript" src="https://www.qq.com/404/search_children.js" charset="UTF-8"></script>
</body>
</html>