<%- include header %>
<form method="post">
	<div><span>标题：</span><input type="text" name="title"></div>
	<div>正文：</div>
	<textarea name="post" rows="20" cols="100"></textarea>
	<input type="submit" value="发表">
</form>
<%- include footer %>