<%- include header %>
<form method="post">
	<div>
		<span class="sidespan">用户名：</span><input type="text" name="name">
	</div>
	<div>
		<span class="sidespan">密码：</span><input type="password" name="password">
	</div>
	<div>
		<span class="sidespan">确认密码：</span><input type="password" name="passwordRepeat">
	</div>
	<div>
		<span class="sidespan">邮箱：</span><input type="email" name="email">
	</div>
	<div>
		<input type="submit" value="注册">
	</div>
</form>
<%- include footer %>
