<%- include header %>
<form method="post" action='/upload' enctype='multipart/form-data'>
	<div>
		<input type="file" name="file1">
	</div>
	<div>
		<input type="file" name="file2">
	</div>
	<div>
		<input type="file" name="file3">
	</div>
	<div>
		<input type="file" name="file4">
	</div>
	<div>
		<input type="file" name="file5">
	</div>
	<div>
		<input type="submit" value="上传">
	</div>
</form>
<%- include footer %>